@model BasketViewModel

@{
    ViewData["Title"] = "Basket Index";
}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <form asp-action="Update">
                <div class="d-flex justify-content-between">
                    <h3>Cart (@Model.TotalItems items)</h3>
                    <div>
                        <button id="btnEmpty" type="button" class="btn btn-sm btn-danger">Empty Cart</button>
                        <button class="btn btn-sm btn-success ms-2">Update Cart</button>
                    </div>
                </div>
                @if (Model.Items.Any())
                {
                    foreach (var item in Model.Items)
                    {
                        <div class="card mb-3">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="~/img/products/@item.PictureUri" class="img-fluid rounded-start" alt="Product Image">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between">
                                            <div>
                                                <h5 class="card-title">@item.ProductName</h5>
                                                <p class="card-text">UNIT PRICE: @item.UnitPrice.ToString("c2")</p>
                                            </div>
                                            <div class="number-input mb-0">
                                                <input type="number" class="quantity form-control" value="@item.Quantity" name="quantities[@item.ProductId]" />
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div>
                                                <a data-remove-id="@item.ProductId" href="#!" type="button" class="text-decoration-none small text-uppercase me-3">
                                                    <i class="fas fa-trash-alt me-1"></i> Remove item
                                                </a>
                                                <a href="#!" type="button" class="text-decoration-none small text-uppercase">
                                                    <i class="fas fa-heart me-1"></i> Move to wish list
                                                </a>
                                            </div>
                                            <p class="mb-0"><span><strong id="summary">@item.TotalPrice.ToString("c2")</strong></span></p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="text-center border rounded p-5 d-flex align-items-center justify-content-center flex-column">
                        <i class="fa-solid display-1 fa-basket-shopping"></i>
                        <h2 class="mt-4">Your Cart Is Currently Empty!</h2>
                        <p class="m-4">Before proceed to checkout you must add som products to your shopping cart.</p>
                        <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Return To Shop</a>
                    </div>
                }
            </form>
            
        </div>
        <div class="col-md-4">
            <h3>Total Price</h3>
            <div class="d-flex justify-content-between">
                <p>Subtotal</p>
                <p>@Model.TotalPrice.ToString("c2")</p>
            </div>
            <div class="d-flex justify-content-between">
                <p>Shipping</p>
                <p>Free</p>
            </div>
            <hr />
            <div class="d-flex justify-content-between">
                <p>The total amount of(including taxes)</p>
                <strong>@Model.TotalPrice.ToString("c2")</strong>
            </div>
            <a class="btn btn-primary d-block" href="#">Go To Checkout</a>
        </div>
    </div>
</div>
<form asp-action="Empty" id="frmEmpty"></form>
<form asp-action="RemoveItem" id="frmRemoveItem">
    <input type="hidden" name="productId" id="hdnProductId" />
</form>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.6/dist/sweetalert2.all.min.js"></script>
    <script>
        const message = "@TempData["Message"]";

        if (message) {
            successMessage(message);
        }

        $("#btnEmpty").click(function () {
            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, empty it!"
            }).then((result) => {
                if (result.isConfirmed) {
                    $("#frmEmpty").submit();
                }
            });
        });

        $("[data-remove-id]").click(function (e) {
            e.preventDefault();
            const productId = $(this).data("remove-id");
            $("#hdnProductId").val(productId);
            $("#frmRemoveItem").submit();
        })
    </script>
}

